<%= form_for @micropost do |f| %>
  <%= render "shared/error_messages", object: f.object %>
  <div class="field">
    <%= f.text_area :content, placeholder: t("micropost.text_area") %>
  </div>
  <span class="image">
    <%= f.file_field :image, accept: Settings.image_format %>
  </span>
  <%= f.submit t("micropost.post"), class: "btn btn-primary" %>
<% end %>
