<p style="color: green"><%= notice %></p>

<%= render @product %>

<% if flash[:alert] %>
  <div class="alert alert-danger">
    <%= flash[:alert] %>
  </div>
<% end %>

<div>
  <%= link_to t("product.edit"), edit_product_path(@product) %> |
  <%= link_to t("product.back_to_all"), products_path %>

  <%= button_to t("product.destroy"), @product, method: :delete %>
</div>
