<%= form_with(model: user) do |form| %>
  <% if user.errors.any? %>
    <div style="color: red">
      <h2>
        <%= pluralize(user.errors.count, "error") %>
        prohibited this user from being saved:
      </h2>

      <ul>
        <% user.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :name, class: "infor" %>
    <%= form.text_field :name %>
  </div>

  <div>
    <%= form.label :email, class: "infor" %>
    <%= form.text_field :email %>
  </div>

  <div>
    <%= form.label :phone_number, class: "infor" %>
    <%= form.text_field :phone_number %>
  </div>

  <div>
    <%= form.label :age, style: class: "infor" %>
    <%= form.text_field :age %>
  </div>

  <div>
    <%= form.label :date_of_birth, class: "infor" %>
    <%= form.text_field :date_of_birth %>
  </div>

  <div>
    <%= form.label :gender, class: "infor" %>
    <%= form.text_field :gender %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
